/* ВРЕМЕННО: потом заменим на локальные woff2 */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Ubuntu Sans', system-ui, -apple-system, sans-serif;
}
