/* Шрифт Helios (локальные файлы) */
@font-face {
  font-family: 'Helios';
  src: url('./HELIOS.OTF') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helios';
  src: url('./HELIOSBOLD.TTF') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helios';
  src: url('./HELIOSBOLDITALIC.TTF') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* Шрифты Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Ubuntu+Sans:wght@400;500;600;700&display=swap');

body {
  font-family: 'Helios', 'Ubuntu Sans', system-ui, -apple-system, sans-serif;
}
